<!DOCTYPE html>
<html>
  <head>
    <title>TurbolinksDefer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <h3>Everything works in 5.0.0</h3>
    <%= yield %>
  </body>
</html>
